service vendor.fingerprint-xiaomi /apex/com.android.hardware.biometrics.fingerprint.virtual/bin/hw/android.hardware.biometrics.fingerprint-service.xiaomi
    interface aidl android.hardware.biometrics.fingerprint.IFingerprint/virtual
    class late_start
    user system
    group system input uhid
