service vendor.fingerprint-xiaomi /vendor/bin/hw/android.hardware.biometrics.fingerprint-service.xiaomi
    class hal
    user nobody
    group nobody
    interface aidl android.hardware.biometrics.fingerprint.IFingerprint/default
    oneshot
    disabled
